.login-container {
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

.login {
  width: 90vw;
  height: 100vh;
  font-size: 2rem;
  margin: auto;
  margin-top: 2rem;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -5rem;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 50rem;
  width: 40rem;
  box-shadow: 0 0.2rem 2rem rgba(7, 3, 3, 0.3);
  border-radius: 3.5rem;
  border-style: none;
  
  padding: 3rem;
}